body{
	background: url("img/background3.png") ;
	background-attachment: fixed;
	/*background-color: #40E0D0;*/
	font-family: Georgia, Arial, Verdana, sans-serif;
}

h1{
	font-family: Calibri;
	text-align: center;
	color:#F5DEB3;
	padding: 1em 0;
	font-size:2.5em;

	/*text-shadow:#fff 0px 1px 0, #000 0 2px 0;*/
	text-shadow:3px 3px 10px red,-3px -3px 10px yellow;
	/*color: #101921;*/
}


#text{
	background: rgba(0, 206, 209, 0.9);

	margin: 10px auto;
	padding: 40px;
	width: 60%;
	font-size: 1.1em;
	border-radius: 15px;
}

#text img{
	padding: 10px 0;
}

#text h3{
	font-size: 1.4em;
}

#text p{
	text-indent: 10mm;
	text-align: justify;
}

img.img_type1{	
	padding-left: 15px;
	width: auto;
	height: 220px;
}

img.img_type2{
	padding-right: 15px;
	padding-bottom: 20px;
	width: auto;
	height: 220px;
}

img.img_type3{
	padding-left: 15px;
	width: 500px;
	height: auto;
}

img.img_type4{
	padding-right: 25px;
	padding-bottom: 10px;
	width: auto;
	height: 160px;
}


p.gap{
	padding: 40px 0;
}

/*Форматирование текста. Конец описания идентификатора*/

#jump_up{
	clear: left;
	background: rgba(0, 206, 209, 0.9);

}

#jump_up p{
	text-align: center;
	padding-bottom: 20px;
}

/*Регистрация и вход
#form_enter p, #form_register p{
	margin: 0;
}

#regist_enter, p.right{
	position: absolute;
	width: 20%;
	right: 5%;
	top: 5px;
}

#regist_enter p, #user_here a:hover, #user_here a:active, #user_here a:link, #user_here a:visited
{
	color: #00ff00;
	font-size: 1.1em;
	text-shadow:3px 3px 10px blue,-3px -3px 10px yellow;
	cursor: pointer;
	font-weight: normal;

	text-decoration: none;

}

#user_here p, #user_no p, #user_here a:hover, #user_here a:active, #user_here a:link, #user_here a:visited{

	display: inline;
	/*top: 10px;*/
	float: right;
	padding: 0 2px;	
	margin-top: 5px;
}

#user_here, #user_no p.left, p.right{
	cursor: pointer;
	
}

#form_enter, #form_register{
	display: none;
}

#form_enter div.table{
	margin-right: 10px;
	/*float: right;*/
}

#onepost h3{
	background: rgba(255, 255, 00, 0.8);	
}

#onepost p{
	background: rgba(255, 215, 00, 0.8);	
}*/
